<form action = '/teaStores/<%=@teaStore.id%>' method = "POST">
	<input type="hidden" name="_method" value="PUT">
	<div>
		<label for="name">Name</label>
		<input type="text" name="name" value = "<%= @teaStore.name %>">
	</div>
	<div>
		<label for="address1">Address 1</label>
		<textarea name="address1"><%= @teaStore.address1 %></textarea>

	</div>

	<div>
		<label for="city">City</label>
		<input type="text" name="city" value = "<%= @teaStore.city %>">
	</div>

	<div>
		<label for="Postcode">Postcode</label>
		<input type="text" name="postcode" value = "<%= @teaStore.postcode %>">
	</div>

		<div>
		<label for="Rating">Rating</label>
		<input type="text" name="rating" value = "<%= @teaStore.rating %>">
	</div>

	<div>
		<input type="submit" value="Submit">

	</div>

</form>