<h1 class="center"> Explore the Tea Stores</h1>
<section class="index-full-page">

	<link rel="stylesheet" type="text/css" href="/style.css">


	<% @teaStores.each do |teaStore| %>
	
	<div class="shop-wrap">
		<h2><a href="/teaStores/<%= teaStore.id %>"><%= teaStore.name %></a></h2>
		<p> <%= teaStore.address1 %></p>
		<p> <%= teaStore.city %></p>
		<p> <%= teaStore.postcode %></p>

	</div>
	<% end %>


</section>