<%= search_form_form @search do |f| %>
  <div class = "field">
    <%= f.label :name_cont %>
    <%= f.text_field :name_cont %>
   </div>
   <div class = "actions"> <%= f.submit "search" %> </div>

   <%= end %>