<h1> <%=@teaStore.name %> </h1>

<div>
	<p> <%= @teaStore.location %></p>


</div>
<a href="<%= @teaStore.id %>/edit"> edit </a>
<form action = '<%= @teaStore.id %>' method="post">
	<input type="hidden" name="_method" value="DELETE">

	<input type="submit" value="Delete">

</form>


<h2>Here are all the Teas!</h2>

<% @teas.each do |tea| %>
<div>
	<h4><a href="/teaStores	/tea/<%= tea.id %>"><%= tea.tea_name %></a></h4>
	<p> <%= tea.type_of_tea %></p>
	<p> <%= tea.price %></p>

</div>
<% end %>


