<link rel="stylesheet" type="text/css" href="/style.css">
<script src= "/main.js "></script>
<h1 class="tea-store-name"> <%=@teaStore.name %> </h1>

<div class = "shop-container"> 
	<div class="tea-shop-wrap">
  		<div class = "tea-shop-img" ></div>

		<div id="store-info">
			<p>Tea Store Address:</p>
			<p> <%= @teaStore.address1 %>, <%= @teaStore.city %></p>
			<p> <%= @teaStore.postcode %></p>
			<p id = "latitude"> <%= @teaStore.latitude %> </p>
			<p id = "longitude"> <%= @teaStore.longitude %> </p>
		</div>
	</div>
	<div id="map-location"></div>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaCe7nWX7TbSfZBsSBZv3A8tx9zH4clB0&callback=initMap">
  </script>
</div>

<a href="<%= @teaStore.id %>/edit"> edit </a>
<a href="/teaStores/<%=@teaStore.id %>/tea/new">Add a Tea</a>
<form action = '<%= @teaStore.id %>' method="post">
	<input type="hidden" name="_method" value="DELETE">

	<input type="submit" value="Delete">

</form>


<h2>Here are all the Teas!</h2>

<% @teas.each do |tea| %>
<div>
	<h4><a href="/teaStores	/tea/<%= tea.id %>"><%= tea.tea_name %></a></h4>
	<p> <%= tea.type_of_tea %></p>
	<p> <%= tea.price %></p>

</div>
<% end %>