<link rel="stylesheet" type="text/css" href="/style.css">
<script src= "/main.js "></script>

<div class = "center">
	<h1 class="tea-store-name"> <%=@teaStore.name %> </h1>
	<form class = "delete-button" action = '<%= @teaStore.id %>' method="post">
		<input type="hidden" name="_method" value="DELETE">

		<input type="submit" value="Delete">
	</form>
</div>
<div class = "center">
	<a href="<%= @teaStore.id %>/edit"> edit <%= @teaStore.name %> </a>
</div>
<div class = "shop-container"> 
		
	<div id="map-location">
		
		 <script async defer
  		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaCe7nWX7TbSfZBsSBZv3A8tx9zH4clB0&callback=initMap">
  		</script>
  
	</div>
		<div id="store-info">
			<p>Address:</p>
			<p> <%= @teaStore.address1 %>, <%= @teaStore.city %></p>
			<p> <%= @teaStore.postcode %></p>
			<p> <%= @teaStore.rating %></p>
			<p id = "latitude"> <%= @teaStore.latitude %> </p>
			<p id = "longitude"> <%= @teaStore.longitude %> </p>
		</div>
	</div>
</div>

<section class="teas-wrap">
	<a href="<%= @teaStore.id %>/tea/new" class="add-tea" > Add a Tea! </a>
	<div class = "new-tea"></div>
	<% @teas.each do |tea| %>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src=" http://i4.mirror.co.uk/incoming/article6201545.ece/ALTERNATES/s615/Cup-of-tea.jpg" alt="...">
			<div class="caption">
				<div class= "caption-align-left">
					
					<a href="/teaStores/tea/<%= tea.id %>/edit"> 
						<h3> <%= tea.tea_name %></h3>
					</a>
					<p> <%= tea.type_of_tea %> </p>
					<p> £<%= tea.price %></p>

				</div>
				<div class= "caption-align-right">	

				<a href="/teaStores/tea/<%= tea.id %>/edit"><button class = "edit-button"> Edit</button> </a>

					<form action = '<%= tea.id %>' method="post">
						<input type="hidden" name="_method" value="DELETE">

						<input type="submit" value="Delete">

					</form>
				</div>

			</div>
		</div>
	</div>
</section>

<% end %>
