<link rel="stylesheet" type="text/css" href="/style.css">
<script src= "/main.js "></script>
<h1 class="tea-store-name"> <%=@teaStore.name %> </h1>

<div class = "shop-container"> 
	<div class="tea-shop-wrap">
  		<div class = "tea-shop-img" ></div>

		<div id="store-info">
			<p>Tea Store Address:</p>
			<p> <%= @teaStore.address1 %>, <%= @teaStore.city %></p>
			<p> <%= @teaStore.postcode %></p>
			<p id = "latitude"> <%= @teaStore.latitude %> </p>
			<p id = "longitude"> <%= @teaStore.longitude %> </p>
		</div>
	</div>
	<div id="map-location"></div>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaCe7nWX7TbSfZBsSBZv3A8tx9zH4clB0&callback=initMap">
  </script>
  
</div>

<a href="<%= @teaStore.id %>/edit"> edit </a>
<a href="/teaStores/<%=@teaStore.id %>/tea/new">Add a Tea</a>
<form action = '<%= @teaStore.id %>' method="post">
	<input type="hidden" name="_method" value="DELETE">

	<input type="submit" value="Delete">

</form>




<% @teas.each do |tea| %>


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

      <img src=" http://i4.mirror.co.uk/incoming/article6201545.ece/ALTERNATES/s615/Cup-of-tea.jpg" alt="...">
      <div class="caption">
        <a href="/teaStores/tea/<%= tea.id %>"> 
        	<h3> <%= tea.tea_name %></h3>
        </a>
        <p> <%= tea.type_of_tea %> </p>
        <p> <%= tea.price %></p>
      </div>
    </div>
  </div>
      <% end %>
