<h1> <%=@tea.tea_name %> </h1>

<div>
	<p> <%= @tea.type_of_tea %></p>

	<p>This tea costs £<%= @tea.price %> </p>


</div>
<a href="<%= @tea.id %>/edit"> edit </a>
<a href="../<%=@tea.tea_store_id%>"> back to store </a>

<form action = '<%= @tea.id %>' method="post">
	<input type="hidden" name="_method" value="DELETE">

	<input type="submit" value="Delete">

</form>
